<div class="sidebar">
  <img class="sidebar__img" src="../../../../../assets/background.png" />
  <img class="sidebar__img" src="../../../../../assets/background.png" />
  <img class="sidebar__img" src="../../../../../assets/background.png" />
  <img class="sidebar__img" src="../../../../../assets/background.png" />
  <img class="sidebar__img" src="../../../../../assets/background.png" />
  <img class="sidebar__img" src="../../../../../assets/background.png" />
  <img class="sidebar__img" src="../../../../../assets/background.png" />
  <img class="sidebar__img" src="../../../../../assets/background.png" />
  <img class="sidebar__img" src="../../../../../assets/background.png" />
</div>
