.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  margin: 4px;
  height: calc(100vh - 68px);
  text-align: center;
  gap: 4px;

  &__sidebar {
    grid-column: 1 / 3;
    overflow-y: auto;
    max-height: 100%;

    @media screen and (max-width: 768px) {
      grid-column: 1 / 13;
      grid-row: 3;
    }
  }

  &__image,
  &__return {
    grid-column: 3 / 10;
    @media screen and (max-width: 768px) {
      grid-column: 1 / 13;
      grid-row: 1;
    }
  }

  &__toolbar {
    grid-column: 11 / 11;
    @media screen and (max-width: 768px) {
      grid-column: 1 / 13;
      grid-row: 2;
    }
  }
}
