/* For use in src/lib/core/theming/_palette.scss */
$primary: (
  50: #fdfdfd,
  100: #fafafa,
  200: #f7f7f7,
  300: #f3f3f3,
  400: #f1f1f1,
  500: #eeeeee,
  600: #ececec,
  700: #e9e9e9,
  800: #e7e7e7,
  900: #e2e2e2,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$secondary: (
  50: #e7e8e9,
  100: #c4c5c8,
  200: #9c9fa3,
  300: #74787e,
  400: #575b62,
  500: #393e46,
  600: #33383f,
  700: #2c3037,
  800: #24282f,
  900: #171b20,
  A100: #67a8ff,
  A200: #348bff,
  A400: #016eff,
  A700: #0063e6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$accent: (
  50: #f2f3f5,
  100: #dee1e6,
  200: #c9cdd5,
  300: #b3b8c4,
  400: #a2a9b8,
  500: #929aab,
  600: #8a92a4,
  700: #7f889a,
  800: #757e91,
  900: #636c80,
  A100: #f4f8ff,
  A200: #c2d5fe,
  A400: #8eb2ff,
  A700: #74a1ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
