@use '@angular/material' as mat;
@import '../../../../shared/scss/colors.scss';

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  place-items: center;
  height: calc(100vh - 68px);
  gap: 12px;

  &__btn {
    grid-column: 4 / 10;
    background-color: mat.get-color-from-palette($accent, 100);
    box-shadow: 0 6px 6px mat.get-color-from-palette($accent, 400);
    width: 90%;
    white-space: normal;
    &:hover {
      background-color: mat.get-color-from-palette($accent, 300);
    }

    @media screen and (max-width: 768px) {
      grid-column: 1 / 13;
    }
  }
}
