<div class="main">
  <button mat-raised-button class="main__new" [routerLink]="'new'">
    <p>NEW BUNDLE</p>
    <mat-icon class="main__new__icon">burst_mode</mat-icon>
  </button>
  <button mat-raised-button class="main__review" [routerLink]="'review'">
    <p>REVIEW YOUR IMAGES</p>
    <mat-icon class="main__review__icon">compare</mat-icon>
  </button>
  <button mat-raised-button class="main__upload" [routerLink]="'upload'">
    <p>UPLOAD NEW IMAGES</p>
    <mat-icon class="main__upload__icon">add_photo_alternate</mat-icon>
  </button>
</div>
