<mat-card class="toolbar">
  <div *ngFor="let tool of tools">
    <button
      [class.selected]="tool.icon === selectedTool.icon"
      mat-icon-button
      (click)="change(tool)"
    >
      <mat-icon [svgIcon]="tool.icon !== 'polygon' ? null : tool.icon">{{
        tool.icon
      }}</mat-icon>
    </button>
  </div>
  <button (click)="undo()" mat-icon-button>
    <mat-icon>undo</mat-icon>
  </button>
  <button (click)="redo()" mat-icon-button>
    <mat-icon>redo</mat-icon>
  </button>
</mat-card>
