<article class="login">
  <form class="login__form" [formGroup]="loginForm">
    <h2 class="login__form__title">Log in</h2>
    <button class="login__form__google" mat-icon-button>
      <mat-icon class="login__form__google__icon" svgIcon="google"></mat-icon>
    </button>
    <mat-divider class="login__form__divider"></mat-divider>
    <mat-form-field class="login__form__field" appearance="outline">
      <mat-label class="login__form__field__label">Email</mat-label>
      <input
        class="login__form__field__input"
        matInput
        required
        placeholder="example@gmail.com"
        type="email"
        autocomplete="on"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field class="login__form__field" appearance="outline">
      <mat-label class="login__form__field__label">Password</mat-label>
      <div class="login__form__field__wrapper">
        <input
          class="login__form__field__wrapper__input"
          matInput
          required
          autocomplete="on"
          formControlName="password"
          name="password"
          [type]="'password'"
          appTogglePassword
        />
      </div>
    </mat-form-field>
    <button
      class="login__form__submit"
      mat-raised-button
      color="accent"
      (click)="onSubmit()"
    >
      Log in
    </button>
  </form>
  <aside class="login__redirect">
    <h2 class="login__redirect__title">New here?</h2>
    <button
      class="login__redirect__action"
      routerLink="/register"
      mat-raised-button
      color="accent"
    >
      Sign up
    </button>
  </aside>
</article>
