@use '@angular/material' as mat;
@import './app/shared/scss/theme.scss';
@import './app/shared/scss/colors.scss';

html,
body {
  height: 100%;
  background-color: mat.get-color-from-palette($primary, 200);
}
body {
  margin: 0;
}
